  <div class="footer">
    <div class="social-links">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <p>This website was coded with <i class="fas fa-heart"></i> at Le Wagon.</p>
    </div>
  </div>