<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1531002329786-97e3efcb754b?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);">
  <div class="container">
    <h1>Only Bangerzs</h1>
    <p>Explore a range of banging cocktails made by bartenders for bartenders</p>
    <a class="btn btn-primary" href="#">Search recipes</a>
  </div>
</div>