
  <div class="row justify-content-center bg-light">
    <div class="col-md-8">
      <h1 class="text-black">Add a new cocktail</h1>

      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name, label: 'Name' %>
        <%= f.button :submit, class: 'btn btn-primary mb-3' %>
      <% end %>
      <%= link_to "Go back", cocktails_path, class: "btn btn-warning btn-sm" %>
    </div>
  </div>